@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mixins;

:root {
    @include mixins.theme-variables(vars.$theme-base);
}

:root {
    @include mixins.theme-variables(vars.$theme-elevated);
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    background: var(--bg);
    color: var(--text);
    font: 14px/1.4 vars.$font-family-sans;
}
